@import '_reset.scss';
@import '_modal.scss';
@import "./font_awesome_icons/fontawesome.scss";
@import "./font_awesome_icons/brands.scss";
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

$main-color: #DB7064;

html, body {
  background-color: $main-color;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#root {
  display: grid;
  grid-template: 80px 700px auto / 1fr 3fr 1fr;
  @media screen and (max-width: 1300px) {
    display: grid;
    grid-template-rows: 120px 700px auto;
  }
  grid-template-areas:
    ". header ."
    "sidebar main ."
    ". footer .";
  width: 100%;
  height: 100%;
}

.main-header {
  z-index: 5;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 25px 0 10px 0;
  h1 {
    font-size: 32px;
    font-weight: 800;
    word-spacing: 0.15em;
    margin: 0 0 0 0;
  }
}

.bpm-input-container {
  input {
    line-height: 25px;
    padding: 2px 1px 0 1px;
    margin: 0 4px 0 0;
    font-size: 28px;
    width: 65px;
    border: none;
    background-color: inherit;
    &:focus {
      outline-color: black;
      outline: black 1px solid;
    }
  }
  input[type=number]::-webkit-inner-spin-button {
    padding: 0 0 2px 1px;
  }
}

.footer {
  z-index: 5;
  grid-area: footer;
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 4rem;
  justify-content: flex-end;
  margin: 8px 0 0 0;
  color: black;
  font-size: 16px;
  line-height: 14px;
  text-decoration: none;
  a {
    align-self: flex-end;
    text-decoration: none;
    padding: 12px 4px;
    margin-left: 8px;
    height: 3rem;
    display: block;
    color: black;
    &:hover {
      cursor: pointer;
    }
    span {
      margin: auto;
      display: block;
      height: 100%;
    }
  }
  .github-anchor {
    font-size: 28px;
    width: 2.22rem;
    span {
      height: 100%;
      width: 100%;
    }
  }
  .personal-site-anchor > span {
    padding-top: 0.5rem;
  }
}

#keyb {
  grid-area: 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  //background-color: #FA8072;
  border-radius: 12px;
  border: 1px solid rgba(222, 126, 115, 0.83);
  border: 1px solid scale_color($main-color,
    $alpha: -80%,
    $lightness: 45%
  );
  box-shadow:
    -6px -6px 16px 0 scale_color($main-color,
      $alpha: -55%,
      $lightness: 45%
    ),
    6px 6px 16px 0 scale_color($main-color,
      $alpha: -50%,
      $lightness: -45%
    );
}

.lead-label, .bass-label {
  display: block;
  padding: 10px 0 2px 1.5rem;
  font-weight: 800;
  line-height: 18px;
  font-size: 18px;
}

#voice {
  margin-bottom: 40px;
}

.sequencer {
  padding: 8px 10px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 50%;
}

div[class^="seq-pos-"] {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}

div .active {
  background-color: #BB6056;
  border: 1px solid rgba(222, 126, 115, 0.20);
}

div[class^="note-"] {
  z-index: 10;
  margin: 3px 5px;
  flex-grow: 1;
  border: #BB6056 2px solid;
  border-radius: 6px;
  min-height: 18px;
  &:hover {
    cursor: pointer;
  }
  &.on {
    background-color: #72ECFA;
    border: #72ECFA 2px solid;
    box-shadow:
      -6px -6px 26px 0 rgba(222, 126, 115, 0.83),
      6px 6px 16px 0 rgba(197, 100, 90, 0.51);
    transition:
      ease-out background-color 0.4s,
      ease-out border 0.4s,
      box-shadow 0.7s;
  }
}

