@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body, #root {
  background-color: #FA8072;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#keyb {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 200px;
  width: 60%;
  margin: 60px auto;
}

div[class^="seq-pos-"] {
  flex-grow: 1;
  border: #72ECFA 1px solid;
  background-color: #DB7064;
}

div[class^="seq-pos-"]:hover {
  cursor: pointer;
}

div .active {
  background-color: #C472FA;
}

